@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slider button{
    background-color: #345097;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}
.slick-slider button:after,
.slick-slider button:before,
.slick-slider button:hover{
    background-color: #85a5da;
}
