@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding:0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.hljs{
 background-color: white !important;
}

.slick-slider button{
    background-color: #345097;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}
.slick-slider button:after,
.slick-slider button:before,
.slick-slider button:hover{
    background-color: #85a5da;
}
.width-23{
    width: 24%;
}
.slick-slider{
    width: 95%;
}
.slick-slider  .slick-prev{
    position: absolute;
}


.slick-slider  .slick-prev,
.slick-slider .slick-next {
    z-index: 9;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding-top: 2px;
}
.slick-slider button{
    user-select:none !important;

}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    background-color: #345097 !important;

}
.slick-slider button::selection,

.slick-slider button:active,
.slick-slider button:after,
.slick-slider button:before,
.slick-slider button:hover {
    background-color: #345097;
}

@media  screen and (max-width:768px) {
    .slick-slider{
        margin: auto;
    }
    .slick-slider .slick-prev{
        left:-10px;
    }
    .slick-slider .slick-next{
        right: -10px;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}